<% include partials/header %>
<h1>Login As User</h1>
<form action="/users/login" method="POST">
  <% if(error){ %>
  <p><%= error %></p>
  <% } %>
  <input type="email" name="email" placeholder="enter email" />
  <input type="password" name="password" placeholder="enter password" />
  <input type="submit" value="Login" />
</form>
<% include partials/footer %>
