<header>
  <div class="container">
    <div class="flex space-between">
      <h1>Daily Podcast</h1>
      <div>
        <a href="/podcasts">All Podcasts</a>
        <a href="/podcasts/new">Add Podcasts</a>

        <a href="/users/logout">User Logout</a>
      </div>
    </div>
  </div>
</header>
