<header>
  <div class="container">
    <div class="flex space-between">
      <h1>Daily Podcast</h1>
      <div>
        <a href="/users/register">Register as user</a>

        <a href="/users/login">Login as user</a>
      </div>

      <div>
        <a href="/auth/github">Login with Github</a>
        <a href="">Login with Google</a>
      </div>
    </div>
  </div>
</header>
